body{
    margin: 0;
}

#header {
    padding: 10px;
    height: 70px;
    top: 0;
    background: rosybrown;
    text-indent: 20px;
    text-align: left;
}

#head {
    margin-top: 15px;
}

#logo {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: bisque;
}

#login {
    float: right;
    padding: 10px 30px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
    background: bisque;
    color: black;
    border-radius: 5px;
    border: none;
}

#login:hover{
    background-color: coral;
    color: white;
}

#signup {
    float: right;
    padding: 10px 30px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
    background: burlywood;
    color: black;
    border-radius: 5px;
    border: none;
}

#signup:hover{
    background-color: coral;
    color: white;
}

#logout{
    float: right;
    padding: 10px 20px;
    margin-right: 40px;
    text-indent: 5px;
    font-size: 15px;
    font-weight: bold;
    background: bisque;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

#logout:hover{
    background-color: coral;
    color: white;
}

#acc{
    float: right;
    padding: 10px 20px;
    margin-right: 5px;
    text-indent: 5px;
    font-size: 15px;
    font-weight: bold;
    background: burlywood;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

#acc:hover{
    background-color: coral;
    color: white;
}

#help {
    float: right;
    padding: 10px 30px;
    margin-right: 100px;
    font-size: 15px;
    font-weight: bold;
    background: blanchedalmond;
    color: black;
    border-radius: 5px;
    border: none;
}

#help:hover{
    background-color: coral;
    color: white;
}

#about {
    float: right;
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    background: cornsilk;
    color: black;
    border-radius: 5px;
    border: none;
}

#about:hover {
    background-color: coral;
    color: white;
}

/*------------------------------------*/

#n1{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#n2{
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#echipa {
    text-align: center;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

#about-us {
    background: floralwhite;
    border-radius: 20px;
    position: relative;
    margin: 3% 10% 40px;
}

#persons{
    display: flex;
    justify-content: center;
}

#h1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

#text {
    margin-top: 50px;
    margin-left: 20px;
    text-indent: 5px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: dimgray;
}

.person div{
    width: 235px;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.person{
    margin-right: 10%;
    margin-left: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

#team{
    margin-left: 5%;
    margin-right: 5%;
}

.name{

    font-family: Arial, sans-serif;
}

.description{
    color: dimgray;
    font-family: Arial, sans-serif;
}

/*--------------------------------*/


@media (min-width: 768px) and (max-width: 1025px) {

    #header {
        text-indent: 10px;
    }

    #head {
        font-size: 31px;
    }

    #login, #logout {
        padding: 10px 15px;
    }

    #signup, #acc {
        padding: 10px 15px;
    }

    #help {
        padding: 10px 15px;
        margin-right: 25px;
    }

    #about {
        padding: 10px 15px;
        margin-right: 10px;
    }

    #n1, #n2{
        font-size: 15px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    #header {
        text-indent: 5px;
    }

    #logo {
        font-size: 20px;
    }

    #login, #logout {
        padding: 10px 6px;
        font-size: 12px;
        margin-right: 5px;
    }

    #signup, #acc {
        padding: 10px 6px;
        font-size: 12px;
    }

    #help {
        padding: 10px 6px;
        font-size: 12px;
        margin-right: 5px;
    }

    #about {
        padding: 10px 6px;
        font-size: 12px;
        margin-right: 5px;
    }

    #echipa {
        font-size: 17px;
    }

    #n1, #n2{
        font-size: 15px;
    }

    #persons{
        display: inherit;
    }

    #team{
        margin-left: 20%;
    }

    .name{
        font-size: 20px;
    }

    .description{
        font-size: 15px;
    }

    #text{
        font-size: 15px;
    }

}

@media (min-width: 320px) and (max-width: 481px) {

    #header {
        padding: 10px;
        height: 70px;
        background: rosybrown;
        text-indent: 0px;
        text-align: left;
    }

    #logo {
        font-size: 13px;
    }

    #login, #logout {
        padding: 10px 2px;
        background: bisque;
        font-size: 9px;
        float: right;
        font-weight: bold;
        color: black;
        margin-right: 2px;
        border-radius: 5px;
        border: none;
    }

    #signup, #acc {
        padding: 10px 2px;
        background: burlywood;
        font-size: 9px;
        float: right;
        font-weight: bold;
        color: black;
        margin-right: 2px;
        border-radius: 5px;
        border: none;
    }

    #help {
        padding: 10px 2px;
        background: blanchedalmond;
        font-size: 9px;
        font-weight: bold;
        float: right;
        margin-right: 2px;
        border-radius: 5px;
        border: none;
    }

    #about {
        padding: 10px 2px;
        background: cornsilk;
        font-size: 9px;
        font-weight: bold;
        float: right;
        margin-right: 2px;
        border-radius: 5px;
        border: none;
    }

    #main{
        margin-left: 2px;
        margin-right: 2px;
    }

    #text{
        font-size: 18px;
        margin-top: 20px;
    }

    #echipa {
        font-size: 20px;
    }

    #n1, #n2{
        font-size: 20px;
        margin-top: 30px;
    }

    #nav {
        position: unset;
        height: 150px;
        width: 100%;
    }

    #persons{
        display: inherit;
    }

    #team{
        margin-left: 10%;
    }

    .name{
        font-size: 20px;
    }

    .description{
        font-size: 15px;
    }

    #text{
         font-size: 15px;
     }

}